{% extends "__object.twig" %}

{% block content %}
<h2>Login</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form action="" enctype="multipart/form-data" method="POST" class="row g-3">
    <div class="col-4">
        <label class="form-label">Login</label>
        <input type="text" class="form-control" name="login">
    </div>
    <div class="col-4">
        <label class="form-label">Password</label>
        <input type="text" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>


{% endblock %}